[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-cors-headers = "*"
django-dotenv = "*"
django-filter = "*"
django-secure = "*"
django-sslserver = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = "*"
coreapi = "*"
cryptography = "*"
gunicorn = "*"
markdown = "*"
pyyaml = "*"
whitenoise = "*"
django-csp = "*"
django-permissions-policy = "*"

[dev-packages]
autopep8 = "*"
mixer = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "python manage.py runsslserver --certificate cert/localhost.crt --key cert/localhost.key"
prod = "gunicorn -c config/gunicorn/prod.py"
test = "pytest tests --cov=api"
coverage = "pytest tests --cov=api --cov-report xml:cov.xml --cov-report lcov --cov-report term-missing"
loaddress = "python manage.py loaddata api/fixtures/dress.json"
su = "python manage.py createsuperuser"
loadloans = "python manage.py loaddata api/fixtures/dressLoan.json"
loadall = "python manage.py loaddata api/fixtures/all.json"
mkm = "python manage.py makemigrations"
mkmapi = "python manage.py makemigrations api"
migrate = "python manage.py migrate"
migrateapi = "python manage.py migrate api"
